{% extends "base.html" %}
{% load static %}

{% block body %}

    
    <!-- post-banner start -->
    <div class="post-banner-area pd-top-30 pd-bottom-30">
        <div class="container">
            <div class="video-area px-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="top-post-wrap">
                            <div class="thumb">
                                <img src="{% static 'img/blog/nature-2.jpg' %}" alt="img" style="opacity: 1;">
                                <a class="video-play-btn" href="index-4.html#" data-effect="mfp-zoom-in"><img src="{% static 'img/icon/play.png' %}" alt="img"></a>
                                <a class="tag top-right tag-green" href="blog-category.html">Travel</a>
                            </div>
                            <div class="top-post-details">
                                <h3><a href="blog-category.html">I find that the harder I work, the more luck I seem to have.</a></h3>
                                <div class="meta mt-0">
                                    <div class="user">
                                        <div class="thumb">
                                            <img src="{% static 'img/banner/user.jpeg' %}" alt="img" style="opacity: 1;">
                                        </div>
                                        <a href="index-4.html#">Stiven Jackson</a>
                                    </div>
                                    <div class="date">
                                        <i class="fa fa-clock-o"></i>
                                            Mar 16, 2022						
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="top-post-wrap">
                                    <div class="thumb">
                                        <img src="{% static 'img/blog/building-tall-4.jpg' %}" alt="img" style="opacity: 1;">
                                        <a class="tag top-right tag-pest" href="blog-category.html">Business</a>
                                    </div>
                                    <div class="top-post-details top-post-details-2">
                                        <h6><a href="blog-category.html">Don’t be afraid to give up the good to go to for the great.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="top-post-wrap">
                                    <div class="thumb">
                                        <img src="{% static 'img/blog/sky-view-3.jpg' %}" alt="img" style="opacity: 1;">
                                        <a class="tag top-right tag-green" href="blog-category.html">Travel</a>
                                    </div>
                                    <div class="top-post-details top-post-details-2">
                                        <h6><a href="blog-category.html">Bel-Air anchored by a multi level mansion property.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="top-post-wrap">
                                    <div class="thumb">
                                        <img src="{% static 'img/blog/playing-6.jpg' %}" alt="img" style="opacity: 1;">
                                        <a class="tag top-right tag-blue" href="blog-category.html">Sports</a>
                                    </div>
                                    <div class="top-post-details top-post-details-2">
                                        <h6><a href="blog-category.html">Bel-Air anchored by a multi level mansion property.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="top-post-wrap">
                                    <div class="thumb">
                                        <img src="{% static 'img/blog/business-people-1.jpg' %}" alt="img" style="opacity: 1;">
                                        <a class="tag top-right tag-pest" href="blog-category.html">Business</a>
                                    </div>
                                    <div class="top-post-details top-post-details-2">
                                        <h6><a href="blog-category.html">Bel-Air anchored by a multi level mansion property.</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="top-post-wrap">
                            <div class="thumb">
                                <img src="{% static 'img/blog/building-tall-4.jpg' %}" alt="img" style="opacity: 1;">
                                <a class="tag top-right tag-pest" href="blog-category.html">Business</a>
                            </div>
                            <div class="top-post-details top-post-details-2">
                                <h6><a href="blog-category.html">Don’t be afraid to give up the good to go to for the great.</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="top-post-wrap">
                            <div class="thumb">
                                <img src="{% static 'img/blog/sky-view-3.jpg' %}" alt="img" style="opacity: 1;">
                                <a class="tag top-right tag-green" href="blog-category.html">Travel</a>
                            </div>
                            <div class="top-post-details top-post-details-2">
                                <h6><a href="blog-category.html">Bel-Air anchored by a multi level mansion property.</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="top-post-wrap">
                            <div class="thumb">
                                <img src="{% static 'img/blog/playing-6.jpg' %}" alt="img" style="opacity: 1;">
                                <a class="tag top-right tag-blue" href="blog-category.html">Sports</a>
                            </div>
                            <div class="top-post-details top-post-details-2">
                                <h6><a href="blog-category.html">Bel-Air anchored by a multi level mansion property.</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="top-post-wrap">
                            <div class="thumb">
                                <img src="{% static 'img/blog/business-people-1.jpg' %}" alt="img" style="opacity: 1;">
                                <a class="tag top-right tag-pest" href="blog-category.html">Business</a>
                            </div>
                            <div class="top-post-details top-post-details-2">
                                <h6><a href="blog-category.html">Bel-Air anchored by a multi level mansion property.</a></h6>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- post-banner end -->
    <div class="ad-area pd-top-60 pd-bottom-95">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <a class="w-100" href="index-4.html#"><img src="{% static 'img/ad/ads.png' %}" alt="img"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="video-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="top-post-wrap">
                        <div class="thumb">
                            <img src="{% static 'img/blog/nature-3.jpg' %}" alt="img" style="opacity: 1;">
                            <a class="video-play-btn" href="index-4.html#" data-effect="mfp-zoom-in"><img src="{% static 'img/icon/play.png' %}" alt="img"></a>
                            <a class="tag top-right tag-green" href="index-4.html#">Travel</a>
                        </div>
                        <div class="top-post-details">
                            <h4><a href="blog-category.html">I find that the harder I work, the more luck I seem to have.</a></h4>
                            <div class="meta mt-2">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="{% static 'img/banner/user.jpeg' %}" alt="img" style="opacity: 1;">
                                    </div>
                                    <a href="index-4.html#">Stiven Jackson</a>
                                </div>
                                <div class="date">
                                    <i class="fa fa-clock-o"></i>
                                        Mar 16, 2022						
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="top-post-wrap">
                        <div class="thumb">
                            <img src="{% static 'img/blog/building-tall-5.jpg' %}" alt="img" style="opacity: 1;">
                            <a class="tag top-right tag-pest" href="blog-category.html">Business</a>
                        </div>
                        <div class="top-post-details top-post-details-2">
                            <h6><a href="blog-category.html">Don’t be afraid to give up the good to go to for the great.</a></h6>
                        </div>
                    </div>
                    <div class="top-post-wrap">
                        <div class="thumb">
                            <img src="{% static 'img/blog/sky-view-4.jpg' %}" alt="img" style="opacity: 1;">
                            <a class="tag top-right tag-green" href="blog-category.html">Travel</a>
                        </div>
                        <div class="top-post-details top-post-details-2">
                            <h6><a href="blog-category.html">Bel-Air anchored by a multi level mansion property.</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="media-post-wrap-3 media">
                        <div class="thumb">
                            <img src="{% static 'img/blog/obama.jpg' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h6><a href="blog-category.html">Obama avoids crowds outside Edinburgh charity dinner.</a></h6>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Politics</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="media-post-wrap-3 media">
                        <div class="thumb">
                            <img src="{% static 'img/blog/parliament-img.jpg' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h6><a href="blog-category.html">Imagination is more important than knowledge buildup.</a></h6>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Politics</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="media-post-wrap-3 media">
                        <div class="thumb">
                            <img src="{% static 'img/blog/paper-thumb.jpg' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h6><a href="blog-category.html">Apollo astronauts harmed by a the deep space radiation.</a></h6>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Politics</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="media-post-wrap-3 media">
                        <div class="thumb">
                            <img src="{% static 'img/blog/neon-light.jpg' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h6><a href="blog-category.html">The golden rules of midlife fitness and things getting wrong.</a></h6>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Politics</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pd-top-10 pd-bottom-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title p-0">
                        <h4 class="title left-line">Trending News</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="media-post-wrap-2">
                        <div class="thumb mb-4">
                            <img src="{% static 'img/blog/business-people.jpg' %}" alt="img">
                        </div>
                        <div class="media-body ms-0 p-0">
                            <a class="tag top-right tag-pest" href="index-4.html#">Business</a>
                            <h6><a href="blog-category.html">In the news: small businesses for expect revenue growth in 2022.</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="media-post-wrap-2">
                        <div class="thumb mb-4">
                            <img src="{% static 'img/blog/rich-man.jpg' %}" alt="img">
                        </div>
                        <div class="media-body ms-0 p-0">
                            <a class="tag top-right tag-yellow" href="index-4.html#">Technology</a>
                            <h6><a href="blog-category.html">International breweries applicate from young entrepreneurs.</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="media-post-wrap-2">
                        <div class="thumb mb-4">
                            <img src="{% static 'img/blog/social-1.png' %}" alt="img">
                        </div>
                        <div class="media-body ms-0 p-0">
                            <a class="tag top-right tag-yellow" href="index-4.html#">Technology</a>
                            <h6><a href="blog-category.html">The golden rules of midlife fitness and things getting wrong.</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="media-post-wrap-2">
                        <div class="thumb mb-4">
                            <img src="{% static 'img/blog/techboy-2.jpg' %}" alt="img">
                        </div>
                        <div class="media-body ms-0 p-0">
                            <a class="tag top-right tag-yellow" href="index-4.html#">Technology</a>
                            <h6><a href="blog-category.html">Intel’s horseshoe bend concept is a look at the future of foldable.</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="media-post-wrap-3 media pb-5">
                        <div class="thumb">
                            <img src="{% static 'img/blog/6.png' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h5><a href="blog-category.html">Try not to be a man of success rather become a man of value.</a></h5>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Technology</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 12, 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="media-post-wrap-3 media pb-5">
                        <div class="thumb">
                            <img src="{% static 'img/blog/playing-4.jpg' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h5><a href="blog-category.html">When hell freezes over, I’ll play hockey there too.</a></h5>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Sports</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 12, 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="media-post-wrap-3 media">
                        <div class="thumb">
                            <img src="{% static 'img/blog/1.png' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h5><a href="blog-category.html">B2B cmos plan 2022 spending that rise, influencer marketing’s.</a></h5>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Marketing</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 12, 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media-post-wrap-3 media pb-5">
                        <div class="thumb">
                            <img src="{% static 'img/blog/1.png' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h5><a href="blog-category.html">B2B cmos plan 2022 spending that rise, influencer marketing’s.</a></h5>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Marketing</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 12, 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="media-post-wrap-3 media pb-5">
                        <div class="thumb">
                            <img src="{% static 'img/blog/richman.png' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h5><a href="blog-category.html">International breweries applicate from young entrepreneurs.</a></h5>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Technology</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 12, 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="media-post-wrap-3 media">
                        <div class="thumb">
                            <img src="{% static 'img/blog/footballer-1.jpg' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h5><a href="blog-category.html">Madrid Hope To Beat Malaga.</a></h5>
                            <div class="meta d-flex">
                                <div class="tag"><a href="index-4.html#">Sports</a></div>
                                <div class="date me-0">
                                    <i class="fa fa-clock-o"></i>
                                    July 12, 2021
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="post-list-small-wrapper">
                        <div class="section-title pb-0">
                            <h4 class="title">Weekly Post</h4>
                        </div>
                        <div class="post-grid-slider owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'img/blog/1.jpg' %}" alt="img">
                                </div>
                                <div class="details">
                                    <p>When working remotely and having to manage your own time, it is not uncommon for breaks to be overlooked.</p>
                                    <div class="meta d-flex">
                                        <div class="author">
                                            <div class="thumb">
                                                <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                            </div>
                                            <a href="index-4.html#">Stiven Jackson</a>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i>
                                                Mar 16, 2022						
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'img/blog/2.png' %}" alt="img">
                                </div>
                                <div class="details">
                                    <p>When working remotely and having to manage your own time, it is not uncommon for breaks to be overlooked.</p>
                                    <div class="meta d-flex">
                                        <div class="author">
                                            <div class="thumb">
                                                <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                            </div>
                                            <a href="index-4.html#">Stiven Jackson</a>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i>
                                                Mar 16, 2022						
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'img/blog/3.png' %}" alt="img">
                                </div>
                                <div class="details">
                                    <p>When working remotely and having to manage your own time, it is not uncommon for breaks to be overlooked.</p>
                                    <div class="meta d-flex">
                                        <div class="author">
                                            <div class="thumb">
                                                <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                            </div>
                                            <a href="index-4.html#">Stiven Jackson</a>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i>
                                                Mar 16, 2022						
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'img/blog/4.png' %}" alt="img">
                                </div>
                                <div class="details">
                                    <p>When working remotely and having to manage your own time, it is not uncommon for breaks to be overlooked.</p>
                                    <div class="meta d-flex">
                                        <div class="author">
                                            <div class="thumb">
                                                <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                            </div>
                                            <a href="index-4.html#">Stiven Jackson</a>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i>
                                                Mar 16, 2022						
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="social-wrap mt-4 mb-0">
                        <li class="ms-0"><a href="index-4.html#"><img src="{% static 'img/icon/facebook.svg' %}" alt="img"></a></li>
                        <li class="me-0"><a href="index-4.html#"><img src="{% static 'img/icon/twitter.svg' %}" alt="img"></a></li>
                        <li class="ms-0"><a href="index-4.html#"><img src="{% static 'img/icon/instagram.svg' %}" alt="img"></a></li>
                        <li class="me-0"><a href="index-4.html#"><img src="{% static 'img/icon/pinterestsvg.svg' %}" alt="img"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="top-news-area pd-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title pb-0">
                        <h4 class="title left-line">Videos</h4>
                    </div>
                    <div class="video-area">
                        <div class="top-post-wrap">
                            <div class="thumb">
                                <img src="{% static 'img/blog/nature.jpg' %}" alt="img" style="opacity: 1;">
                                <a class="video-play-btn" href="index-4.html#" data-effect="mfp-zoom-in"><img src="{% static 'img/icon/play.png' %}" alt="img"></a>
                            </div>
                            <div class="top-post-details">
                                <a class="tag top-right tag-green" href="index-4.html#">Travel</a>
                                <h2><a href="blog-category.html">I find that the harder I work, the more luck I seem to have.</a></h2>
                                <div class="meta mt-2">
                                    <div class="user">
                                        <div class="thumb">
                                            <img src="{% static 'img/banner/user.jpeg' %}" alt="img" style="opacity: 1;">
                                        </div>
                                        <a href="index-4.html#">Stiven Jackson</a>
                                    </div>
                                    <div class="date">
                                        <i class="fa fa-clock-o"></i>
                                            Mar 16, 2022						
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="top-post-wrap mb-0">
                                    <div class="thumb">
                                        <img src="{% static 'img/blog/protest.jpg' %}" alt="img" style="opacity: 1;">
                                        <a class="video-play-btn" href="index-4.html#" data-effect="mfp-zoom-in"><img src="{% static 'img/icon/play.png' %}" alt="img"></a>
                                    </div>
                                    <div class="top-post-details">
                                        <a class="tag top-right tag-purple" href="index-4.html#">Politics</a>
                                        <h4><a href="blog-category.html">Huge glacier collapses in Arge.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="top-post-wrap mb-0">
                                    <div class="thumb">
                                        <img src="{% static 'img/blog/footballer.jpg' %}" alt="img" style="opacity: 1;">
                                        <a class="video-play-btn" href="index-4.html#" data-effect="mfp-zoom-in"><img src="{% static 'img/icon/play.png' %}" alt="img"></a>
                                    </div>
                                    <div class="top-post-details">
                                        <a class="tag top-right tag-blue" href="index-4.html#">Sports</a>
                                        <h4><a href="blog-category.html">Madrid Hope To Beat Malaga.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ad-area pd-top-70">
                        <a href="index-4.html#">
                            <img src="{% static 'img/ad/add.png' %}" alt="img">
                        </a>
                    </div>
                    <div class="ad-area pd-top-70">
                        <a href="index-4.html#">
                            <img src="{% static 'img/ad/add.png' %}" alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pd-top-70 pd-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h4 class="title left-line">Don't Miss</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media-post-wrap">
                        <div class="thumb mb-4">
                            <img src="{% static 'img/blog/social-1.png' %}" alt="img">
                        </div>
                        <div class="media-body ms-0">
                            <a class="tag top-right tag-yellow" href="index-4.html#">Technology</a>
                            <h4><a href="blog-category.html">The golden rules of midlife fitness and things getting wrong.</a></h4>
                        </div>
                        <div class="meta d-flex">
                            <div class="author">
                                <div class="thumb">
                                    <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                </div>
                                <a href="index-4.html#">Stiven Jackson</a>
                            </div>
                            <div class="date ms-auto">
                                <i class="fa fa-clock-o"></i>
                                    Mar 16, 2022						
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media-post-wrap">
                        <div class="thumb mb-4">
                            <img src="{% static 'img/blog/playing-2.jpg' %}" alt="img">
                        </div>
                        <div class="media-body ms-0">
                            <a class="tag top-right tag-blue" href="index-4.html#">Sports</a>
                            <h4><a href="blog-category.html">The golden rules of midlife fitness and things getting wrong.</a></h4>
                        </div>
                        <div class="meta d-flex">
                            <div class="author">
                                <div class="thumb">
                                    <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                </div>
                                <a href="index-4.html#">Stiven Jackson</a>
                            </div>
                            <div class="date ms-auto">
                                <i class="fa fa-clock-o"></i>
                                    Mar 16, 2022						
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media-post-wrap">
                        <div class="thumb mb-4">
                            <img src="{% static 'img/blog/neon-light-1.jpg' %}" alt="img">
                        </div>
                        <div class="media-body ms-0">
                            <a class="tag top-right tag-red" href="index-4.html#">Motivation</a>
                            <h4><a href="blog-category.html">The golden rules of midlife fitness and things getting wrong.</a></h4>
                        </div>
                        <div class="meta d-flex">
                            <div class="author">
                                <div class="thumb">
                                    <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                </div>
                                <a href="index-4.html#">Stiven Jackson</a>
                            </div>
                            <div class="date ms-auto">
                                <i class="fa fa-clock-o"></i>
                                    Mar 16, 2022						
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="subscribe-area" style="background-image: url(https://as1.ftcdn.net/v2/jpg/04/82/00/46/1000_F_482004683_BWj2rOJrK9N6KAyvjEhTXpz0MRn0Lfa9.jpg)">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title p-0">
                        <h2>Subscribe To Hello Forex</h2>
                        <p>Signup for our Newsletter and stay informed</p>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="subscribe-inner">
                        <input type="text" placeholder="Enter Email address">
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}