{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="breadcrumb-area">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="theme-breacrumb-title">Blog Details Page</h1>
            </div>
        </div>
    </div>
</div>

<!-- blog-area start -->
<div class="blog-area pd-top-100 pd-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="media-post-wrap mb-0">
                    <div class="thumb mb-4">
                        <img class="w-100" src="/media/{{ blog.image }}" alt="img">
                    </div>
                    <div class="media-body pt-1 ms-0">
                        <a class="tag top-right tag-pest" href="blog-details.html#">{{ blog.category }}</a>
                        <h1>{{ blog.title }}</h1>
                    </div>
                    <div class="meta d-flex">
                        <div class="author">
                            <div class="thumb">
                                <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                            </div>
                            <a href="blog-details.html#">{{ blog.author }}</a>
                        </div>
                        <div class="date">
                            <i class="fa fa-clock-o"></i>
                            Mar 16, 2022
                        </div>
                    </div>
                    <p class="mb-3">{{ blog.article }}</p>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="thumb">
                                <img src="{% static 'img/blog/post-thumb-two.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="thumb">
                                <img src="{% static 'img/blog/post-thumb-one.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="thumb mt-4">
                        <img src="{% static 'img/blog/post-details-thumb.jpg' %}" alt="">
                    </div>
                    
                   <blockquote>
                        <div class="icon">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <p>“If we are going to have a strong small business sector and economic recovery, we need our
                            policymakers to act to rein in these costs. It’s an urgent priority of small
                            businesses,”</p>
                    </blockquote>
                   
                    <div class="blog-tag-area mt-4">
                        <h4>Tags:</h4>
                        <a href="blog-details.html#">Business</a>
                        <a href="blog-details.html#">World</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="side-area">

                    {% comment %} Search start {% endcomment %}
                    <div class="widget widget_search">
                        <div class="section-title pb-0">
                            <h5 class="title left-line widget-title">
                                Search
                            </h5>
                        </div>
                        <div class="subscribe-inner">
                            <input type="text">
                            <button class="btn">Search</button>
                        </div>
                    </div>
                    {% comment %} Search end {% endcomment %}

                    {% comment %} Weekly Post start {% endcomment %}
                    <div class="post-list-small-wrapper">
                        <div class="section-title pb-0">
                            <h4 class="title">Weekly Post</h4>
                        </div>
                        <div class="post-grid-slider owl-carousel owl-loaded owl-drag">

                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                     style="transform: translate3d(-2732px, 0px, 0px); transition: all 0s ease 0s; width: 5464px;">

                                    <div class="owl-item" style="width: 673px; margin-right: 10px;">
                                        <div class="item">
                                            <div class="thumb">
                                                <img src="{% static 'img/blog/3.png' %}" alt="img">
                                            </div>
                                            <div class="details">
                                                <p>When working remotely and having to manage your own time, it is not
                                                    uncommon for breaks to be overlooked.</p>
                                                <div class="meta d-flex">
                                                    <div class="author">
                                                        <div class="thumb">
                                                            <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                                        </div>
                                                        <a href="#">Stiven Jackson</a>
                                                    </div>
                                                    <div class="date">
                                                        <i class="fa fa-clock-o"></i>
                                                        Mar 16, 2022
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="owl-item active" style="width: 673px; margin-right: 10px;">
                                        <div class="item">
                                            <div class="thumb">
                                                <img src="{% static 'img/blog/4.png' %}" alt="img">
                                            </div>
                                            <div class="details">
                                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text,
                                                 making it over 2000 years old. Richard McClintock.</p>
                                                <div class="meta d-flex">
                                                    <div class="author">
                                                        <div class="thumb">
                                                            <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                                        </div>
                                                        <a href="#">Hassan Thabet</a>
                                                    </div>
                                                    <div class="date">
                                                        <i class="fa fa-clock-o"></i>
                                                        Mar 16, 2022
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="owl-nav disabled">
                                <button type="button" role="presentation" class="owl-prev"><i
                                        class="fa fa-long-arrow-left"></i></button>
                                <button type="button" role="presentation" class="owl-next"><i
                                        class="fa fa-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% comment %} Weekly Post start {% endcomment %}


                    {% comment %} Popular Articles start {% endcomment %}
                    <div class="section-title pb-0">
                        <h5 class="title left-line widget-title">
                            Popular Articles
                        </h5>
                    </div>

                    <div class="media-post-wrap-3 media">
                        <div class="thumb">
                            <img src="{% static 'img/blog/obama.jpg' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h6><a href="blog-category.html">Obama avoids crowds outside Edinburgh charity dinner.</a>
                            </h6>
                            <div class="meta d-flex">
                                <div class="tag"><a href="#">Politics</a></div>
                                <div class="date">
                                    <i class="fa fa-clock-o"></i>
                                    July 12, 2021
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media-post-wrap-3 media">
                        <div class="thumb">
                            <img src="{% static 'img/blog/obama.jpg' %}" alt="img">
                        </div>
                        <div class="media-body">
                            <h6><a href="blog-category.html">Obama avoids crowds outside Edinburgh charity dinner.</a>
                            </h6>
                            <div class="meta d-flex">
                                <div class="tag"><a href="#">Politics</a></div>
                                <div class="date">
                                    <i class="fa fa-clock-o"></i>
                                    July 12, 2021
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} Popular Articles start {% endcomment %}


                    {% comment %} Tags start {% endcomment %}
                    <div class="widget widget_tags mt-5">
                        <div class="section-title pb-0">
                            <h4 class="title left-line widget-title">Tags</h4>
                        </div>
                        <div class="tagcloud">
                            <a href="#">Business</a>
                            <a href="#">Digital Marketing</a>
                            <a href="#">Lifestyle</a>
                            <a href="#">Sports</a>
                            <a href="#">Technology</a>
                            <a href="#">Travel</a>
                            <a href="#">Trendy</a>
                            <a href="#">World</a>
                        </div>
                    </div>


                    {% comment %} Tags start {% endcomment %}

                </div>


            </div>

        </div>
    </div>
</div>
</div>
</div>
<!-- blog-area end -->
{% endblock body %}



