{% extends "base.html" %}
{% load static %}


{% block body %}
    <div class="container">
        <div class="breadcrumb-area">
            <div class="row justify-content-center">
                <div class="col-md-12">
					<h1 class="theme-breacrumb-title">Category : Politics</h1>
				</div>
            </div>
        </div>
    </div>
    
    <!-- blog-area start -->
    <div class="blog-area pd-top-100 pd-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="media-post-wrap pd-bottom-80 mb-0">
                        <div class="thumb mb-4">
                            <img class="w-100" src="{% static 'img/blog/obama-1.jpg' %}" alt="img">
                        </div>
                        <div class="media-body pt-1 ms-0">
                            <a class="tag top-right tag-purple" href="blog-category.html#">Politics</a>
                            <h1><a href="blog-details.html">Obama avoids crowds outside Edinburgh charity dinner.</a></h1>
                        </div>
                        <div class="meta d-flex">
                            <div class="author">
                                <div class="thumb">
                                    <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                </div>
                                <a href="blog-category.html#">Stiven Jackson</a>
                            </div>
                            <div class="date">
                                <i class="fa fa-clock-o"></i>
                                    Mar 16, 2022						
                            </div>
                        </div>
                        <p class="mb-3">When working remotely and having to manage your own time, it is not uncommon for breaks to be overlooked. A new survey by the online scheduling platform Doodle confirms the US workforce’s collective neglect of breaks. 72% of US employees admit to feeling</p>
                        <a class="btn btn-main mt-3" href="blog-category.html#">Read More</a>
                    </div>
                    <div class="media-post-wrap pd-bottom-40 mb-0">
                        <div class="thumb mb-4">
                            <img class="w-100" src="{% static 'img/blog/paper-thumb-1.jpg' %}" alt="img">
                        </div>
                        <div class="media-body pt-1 ms-0">
                            <a class="tag top-right tag-purple" href="blog-category.html#">Politics</a>
                            <h1><a href="blog-details.html">Apollo astronauts harmed by a the deep space radiation.</a></h1>
                        </div>
                        <div class="meta d-flex">
                            <div class="author">
                                <div class="thumb">
                                    <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                </div>
                                <a href="blog-category.html#">Stiven Jackson</a>
                            </div>
                            <div class="date">
                                <i class="fa fa-clock-o"></i>
                                    Mar 16, 2022						
                            </div>
                        </div>
                        <p class="mb-3">When working remotely and having to manage your own time, it is not uncommon for breaks to be overlooked. A new survey by the online scheduling platform Doodle confirms the US workforce’s collective neglect of breaks. 72% of US employees admit to feeling</p>
                        <a class="btn btn-main mt-3" href="blog-category.html#">Read More</a>
                    </div>
                    <div class="media-post-wrap pd-bottom-40 mb-0">
                        <div class="thumb mb-4">
                            <img class="w-100" src="{% static 'img/blog/protest.jpg' %}" alt="img">
                        </div>
                        <div class="media-body pt-1 ms-0">
                            <a class="tag top-right tag-purple" href="blog-category.html#">Politics</a>
                            <h1><a href="blog-details.html">Huge glacier collapses in Arge.</a></h1>
                        </div>
                        <div class="meta d-flex">
                            <div class="author">
                                <div class="thumb">
                                    <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                </div>
                                <a href="blog-category.html#">Stiven Jackson</a>
                            </div>
                            <div class="date">
                                <i class="fa fa-clock-o"></i>
                                    Mar 16, 2022						
                            </div>
                        </div>
                        <p class="mb-3">When working remotely and having to manage your own time, it is not uncommon for breaks to be overlooked. A new survey by the online scheduling platform Doodle confirms the US workforce’s collective neglect of breaks. 72% of US employees admit to feeling</p>
                        <a class="btn btn-main mt-3" href="blog-category.html#">Read More</a>
                    </div>
                    <div class="media-post-wrap pd-bottom-40 mb-0">
                        <div class="thumb mb-4">
                            <img class="w-100" src="{% static 'img/blog/country-parliament.jpg' %}" alt="img">
                        </div>
                        <div class="media-body pt-1 ms-0">
                            <a class="tag top-right tag-purple" href="blog-category.html#">Politics</a>
                            <h1><a href="blog-details.html">Julian Assange charged in US, court document for an accidentally reveals changing the technology.</a></h1>
                        </div>
                        <div class="meta d-flex">
                            <div class="author">
                                <div class="thumb">
                                    <img src="{% static 'img/banner/user.jpeg' %}" alt="img">
                                </div>
                                <a href="blog-category.html#">Stiven Jackson</a>
                            </div>
                            <div class="date">
                                <i class="fa fa-clock-o"></i>
                                    Mar 16, 2022						
                            </div>
                        </div>
                        <p class="mb-3">When working remotely and having to manage your own time, it is not uncommon for breaks to be overlooked. A new survey by the online scheduling platform Doodle confirms the US workforce’s collective neglect of breaks. 72% of US employees admit to feeling</p>
                        <a class="btn btn-main mt-3" href="blog-category.html#">Read More</a>
                    </div>
                    <div class="pagination-area text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link active" href="blog-category.html#">1</a></li>
                              <li class="page-item"><a class="page-link" href="blog-category.html#">2</a></li>
                              <li class="page-item"><a class="page-link" href="blog-category.html#"><i class="fa fa-long-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="side-area">
                        <div class="widget widget_search">
                            <h5 class="widget-title">
                                Search
                            </h5>
                            <div class="subscribe-inner">
                                <input type="text">
                                <button class="btn">Search</button>
                            </div>
                        </div>
                        
                        <div class="ad-area pt-3">
                            <a href="blog-category.html#">
                                <img src="{% static 'img/ad/ads.png' %}" alt="img">
                            </a>
                        </div>
                        <div class="ad-area pt-3">
                            <a href="blog-category.html#">
                                <img src="{% static 'img/ad/ads.png' %}" alt="img">
                            </a>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-area end -->

{% endblock body %}
