{% extends "base.html" %}

{% block body %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}



    <!-- Section: Design Block -->
    <div class="d-flex justify-content-center">
      <div class="col-sm-8">
        <section class=" text-center text-lg-start">
          <style>

            @media (min-width: 992px) {
              .rounded-tr-lg-0 {
                border-top-right-radius: 0;
              }
            }
          </style>
          <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
              <div class="col-lg-4 d-none d-lg-flex">
                <img src="/static/img/login.png" alt="Trendy Pants and Shoes" class="img-fluid" style="height: 100%" />
              </div>
              <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">

                  <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example1">Email address</label>
                      <input type="email" id="form2Example1" class="form-control" />
                      
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example2">Password</label>
                      <input type="password" id="form2Example2" class="form-control" />
                    </div>
                    <!-- Submit button -->
                  
                    <div class="d-grid gap-2">
                      <button class="btn btn-dark" type="button">Sign in</button>
                    </div>

                    <br>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                      <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                          <label class="form-check-label" for="form2Example31"> Remember me </label>
                        </div>
                      </div>

                      <div class="col">
                        <!-- Simple link -->
                        <a href="{% url 'password_reset'%}"><button type="button" class="btn btn-light" data-mdb-ripple-color="dark">Forget Password</button></a>
                        
                      </div>
                    </div>

                      
              
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Section: Design Block -->



  {% comment %} <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form> {% endcomment %}

  {# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}