{% extends "base.html" %}

{% block body %}


      <!-- Section: Design Block -->
    <div class="d-flex justify-content-center">
      <div class="col-sm-8">
        <section class=" text-center text-lg-start">
          <style>

            @media (min-width: 992px) {
              .rounded-tr-lg-0 {
                border-top-right-radius: 0;
              }
            }
          </style>
          <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
              <div class="col-lg-4 d-none d-lg-flex">
                <img src="/static/img/login.png" alt="Trendy Pants and Shoes" class="img-fluid" style="height: 100%" />
              </div>
              <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">

                   <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>

                </div>
                     

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Section: Design Block -->


{% endblock %}