{% extends "base.html" %}

{% block body %}
{% load crispy_forms_tags %}   

    <!-- Section: Design Block -->
    <div class="d-flex justify-content-center">
      <div class="col-sm-8">
        <section class=" text-center text-lg-start">
          <style>

            @media (min-width: 992px) {
              .rounded-tr-lg-0 {
                border-top-right-radius: 0;
              }
            }
          </style>
          <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
              <div class="col-lg-4 d-none d-lg-flex">
                <img src="/static/img/login.png" alt="Trendy Pants and Shoes" class="img-fluid" style="height: 100%" />
              </div>
              <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">

                  <form method="post" >
                  {% csrf_token %}
              
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                     <!-- username  input -->
                      <div class="form-outline mb-4">
                      <label class="form-label" for="username">User name</label>
                      <input type="text" id="username" name="username" class="form-control" />
                      
                    </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="email">Email address</label>
                      <input type="email" id="email" name="email" class="form-control" />
                      
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password1">Password</label>
                      <input type="password" id="password1" name="password1" class="form-control" />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password2">Confirm password</label>
                      <input type="password" id="password2" name="password2" class="form-control" />
                    </div>

                    <!-- Submit button -->
                  
                    <div class="d-grid gap-2">
                      <button class="btn btn-dark" type="submit">Sign up</button>
                    </div>
                      
              
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Section: Design Block -->



  {% comment %} <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form> {% endcomment %}

  {# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}